/*-- Jquery Confirm --*/

.jconfirm-box {
  background-color: #6a699c !important;
  color: #fff !important;
  font-size: 18px;
  max-width: 100%;
}

/*-- Various --*/

a {cursor: pointer;}

.dropdown.open a.dropdown-toggle {color: #684a9b !important;}

img.sbf-img {
    max-width: 280px;
}

.basic-table {width: 100%;}
.basic-table td {
	background: #e7e4fe;
	padding: 8px 16px;
	border: 1px solid #684a9b;
}
.basic-table th {
	background: #684a9b;
	color: #fff;
	padding: 16px;
	font-size: 1.5em;
	border: 1px solid #684a9b;
}

/*-- Progress Indication --*/

#prog-ind {
  position: fixed;
  padding: 10px;
  margin-right: 10px;
  right: 0px;
  top: 10px;
  z-index: 99999999999;
}

/*-- Text --*/
.purple-txt{
  color: #684a9b;
}
.blue-txt{
  color: #015699 !important;
}
.white-txt{
  color: #fff !important;
}
.green-txt{
  color: #86b763;
}

/*-- Nav --*/
.nav-sec-sep{
  background-color: #6a699c;
}
.nav-sec-pad{
  padding-left: 10px !important;
}
.dropdown-menu>li>a{
  color: #6a699c !important;
}
.dropdown-menu>li>a:hover{
  color: #6a699c !important;
  background-color: #e0daeb !important;
}
.dropdown-menu>li>a:active{
  color: #6a699c !important;
  background-color: #e0daeb !important;
}
.navbar-inverse .navbar-nav>li>a{
  color: #fff !important;
  font-size: 18px !important;
}
.navbar-nav>li>.dropdown-menu{
  color: #fff !important;
  font-size: 18px !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color: #6a699c !important;
  background-color: #fff;
  font-size: 18px !important;
}
.navbar-inverse .navbar-nav>li>a:focus{
  color: #6a699c !important;
  background-color: #fff;
  font-size: 18px !important;
}
body{
  padding-top: 20px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  background-color: #6a699c;
  border-color: #6a699c;
  height: 60px !important;
}
.navbar-inverse{
  background-color: #6a699c;
  border-color: #6a699c;
  height: 60px !important;
}
.nav navbar-nav{
  height: 60px !important;
}

/*-- Buttons --*/

.btn-main{
  background-color: #fff !important;
  color: #6a699c !important;
  border-color: #6a699c !important;
}
.btn-main:hover{
  background-color: #6a699c !important;
  color: #fff!important;
  border-color: #6a699c !important;
}

/*-- Padding --*/

.padding-head{
  padding: 15px;
}
.features-desc{
  padding: 60px 0 !important;
}
.section-pad-sml{
	padding-bottom: 25px;
}
.video-pad{
  padding: 25px;
}
.section-pad{
  padding: 30px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.pad-bottom{
  padding-bottom: 25px;
}

/*-- Pull Quotes --*/

.call-2-acction{
	background-color: #8786b4 !important;
}

/*-- Images --*/

.slm-icon{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
}
.project2061-img{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 165px;
}
.map-img{
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.sbf-img{
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%;
}
.inquiry-img{
  max-width: 100%;
}
.avatar-img{
  max-width: 100px;
}
.avatar-img-modal{
  max-width: 200px;
  padding-right: 20px;
}
.avatar-img-feedback{
  max-width: 200px;
  padding: 20px;
}

/*-- Boxes --*/

.features-desc{
  background-color: #fff !important;
}
.blue-bg{
	background-color: #8786b4 !important;
	padding: 20px;
	border-radius: 5px;
}
.white-bg{
	background-color: #fff !important;
	padding: 20px;
	border-radius: 5px;
}

/*-- Polling --*/

.pollr-all-answers-list {
  list-style-type: none;
}
.form-control{
	border-color: #ccc !important;
	border-width: 2px;
}
.form-control:focus{
	border-color: #6a699c !important;
	border-width: 2px;
}
.pollr-loader,
.pollr-loader:before,
.pollr-loader:after {
    background: #6a699c;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.pollr-loader:before,
.pollr-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.pollr-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.pollr-loader {
  color: #6a699c;
  text-indent: -9999em;
/*  margin: 20px 20px 60px 140px;*/
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.pollr-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut{
  stroke: #6a699c !important;
}
textarea{
  width: 100%;
  border-color: #015699;
  border-radius: 5px;
}
.smee-poll-txt{
  color: #1c4422;
  background-color: #f7ffea;
  border-color: #86b763 !important;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 25px;
}
.your-answer-poll-txt{
  color: #2a3f60;
  background-color: #edf3ff;
  border-color: #015699 !important;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  margin: 25px;
}
.pollr-all-answers-chart{
  align: center;
}

/*-- Action Plan --*/
.medium-editor-placeholder:after{
  color: #ccc !important;
}
[data-actionplan-question-answer]{
    width: 100%;
    border-color: #015699 !important;
    border-radius: 5px;
    border-width: 1px !important;
    border: solid;
    height: 100% !important
}
[data-actionplan-question-answer]:focus{
  border-color: #6a699c !important;
  border-width: 1px;
}


/*-- Section Header Images --*/

.home-2 {
  background-image: url(../images/intro-img2.jpg) !important;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0;
  position: relative
  /* Temp CSS */
  /* Temp CSS End */
}
.home-2 .st-brand {
  text-align: center;
  margin-bottom: 50px;
}
.home-2 .st-home-unit {
  position: relative;
}
.home-2 .hero-txt {
  color: #fff;
  text-align: center;
}
.home-2 .hero-txt .hero-title {
  font-family: "Open Sans";
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 85px;
  font-weight: 400;
  letter-spacing: 8px;
  word-spacing: 4px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 20px 10px;
}
.home-2 .hero-txt .hero-work {
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.home-2 .hero-txt .hero-work:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  margin: 20px auto 0;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.home-2 .hero-txt a.btn {
  text-transform: uppercase;
}
.home-2 .hero-txt a.btn.left-btn {
  margin-right: 20px !important;
}
.home-2 .hero-txt .hero-sub-title {
  font-family: "Open Sans";
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 70px;
}
.home-2 .hero-txt .hero-img {
  margin-top: 80px;
}
.home-3 {
  background-image: url(../images/intro-img3.jpg) !important;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0;
  position: relative
  /* Temp CSS */
  /* Temp CSS End */
}
.home-3 .st-brand {
  text-align: center;
  margin-bottom: 50px;
}
.home-3 .st-home-unit {
  position: relative;
}
.home-3 .hero-txt {
  color: #fff;
  text-align: center;
}
.home-3 .hero-txt .hero-title {
  font-family: "Open Sans";
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 85px;
  font-weight: 400;
  letter-spacing: 8px;
  word-spacing: 4px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 20px 10px;
}
.home-3 .hero-txt .hero-work {
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.home-3 .hero-txt .hero-work:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  margin: 20px auto 0;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.home-3 .hero-txt a.btn {
  text-transform: uppercase;
}
.home-3 .hero-txt a.btn.left-btn {
  margin-right: 20px !important;
}
.home-3 .hero-txt .hero-sub-title {
  font-family: "Open Sans";
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 70px;
}
.home-3 .hero-txt .hero-img {
  margin-top: 80px;
}
.home-4 {
  background-image: url(../images/intro-img4.jpg) !important;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0;
  position: relative
  /* Temp CSS */
  /* Temp CSS End */
}
.home-4 .st-brand {
  text-align: center;
  margin-bottom: 50px;
}
.home-4 .st-home-unit {
  position: relative;
}
.home-4 .hero-txt {
  color: #fff;
  text-align: center;
}
.home-4 .hero-txt .hero-title {
  font-family: "Open Sans";
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 85px;
  font-weight: 400;
  letter-spacing: 8px;
  word-spacing: 4px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 20px 10px;
}
.home-4 .hero-txt .hero-work {
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.home-4 .hero-txt .hero-work:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  margin: 20px auto 0;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.home-4 .hero-txt a.btn {
  text-transform: uppercase;
}
.home-4 .hero-txt a.btn.left-btn {
  margin-right: 20px !important;
}
.home-4 .hero-txt .hero-sub-title {
  font-family: "Open Sans";
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 70px;
}
.home-4 .hero-txt .hero-img {
  margin-top: 80px;
}
.home-5 {
  background-image: url(../images/intro-img5.jpg) !important;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0;
  position: relative
  /* Temp CSS */
  /* Temp CSS End */
}
.home-5 .st-brand {
  text-align: center;
  margin-bottom: 50px;
}
.home-5 .st-home-unit {
  position: relative;
}
.home-5 .hero-txt {
  color: #fff;
  text-align: center;
}
.home-5 .hero-txt .hero-title {
  font-family: "Open Sans";
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 85px;
  font-weight: 400;
  letter-spacing: 8px;
  word-spacing: 4px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 20px 10px;
}
.home-5 .hero-txt .hero-work {
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.home-5 .hero-txt .hero-work:after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  margin: 20px auto 0;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
}
.home-5 .hero-txt a.btn {
  text-transform: uppercase;
}
.home-5 .hero-txt a.btn.left-btn {
  margin-right: 20px !important;
}
.home-5 .hero-txt .hero-sub-title {
  font-family: "Open Sans";
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 70px;
}
.home-5 .hero-txt .hero-img {
  margin-top: 80px;
}
.st-highlight {
  color: #4ecdc4;
}

/*-- Modals --*/

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: 100;
  filter: alpha(opacity=97);
}
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
.inline-pad{
	margin: 7px;
}


